<html xmlns:th="https://www.thymeleaf.org">
<body>

	<div th:if="${file}">
		<h2 th:text="${file}"></h2>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/upload">
			File to upload: <input type="file" name="file" /><br>
			<input type="text" name="dzuuid" value="dzuuid" /><br>
			<input type="checkbox" name="List<site>" value="s1" id="s1">
			<label for="s1">s1</label><br>
			<input type="checkbox" name="List<site>" value="s2" id="s2">
			<label for="s2">s2</label><br>
			<input type="submit" value="Upload" />
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}"><a th:href="@{'/download/' + ${file}}" th:text="${file}"></a></li>
		</ul>
	</div>

</body>
</html>